@charset "utf-8";

.cabecera{
    width: 100%;
    height: 100px;
    background-color: #B0BEC5;
    border-bottom: #444444 solid 1px;
	position: fixed;
	z-index: 1;
}
.docente{
    float:left;
    margin: 25px;
    width:200px;
    height: 350px; /*auto;*/
    -webkit-box-shadow: 10px 10px 5px #888888;
    -moz-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
    border:rgba(0, 0, 0, 0.3) 1px solid;
    //display:none;
    overflow: hidden;
}

.nombreDocente{
    font-size:20px;
    font-family:RobotoBold;
    text-align:center;
    color: #FFFFFF;
    width: 100%;
    background-color: #78909C;
    line-height: 50px;
}

.nombreDocente:hover{
    text-shadow: 0px 0px 10px white;
}

.imagenDocente{
    width:100%;
    height:150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    -webkit-filter: blur(50px);
    overflow:hidden;
}

.addContainer{
    background-color: #37474F;
    line-height: 350px;
    height: 300px;
}

.optionContainer{
    background-color: rgba(55,71,79,0.7);
    width: 100%;
    height: 150px;
    display: none;   
}

.optionButton{
    width: 100px;
    height: 150px;
    display: block;
    text-align: center;
    float: left;
}

.optButtonImagen{
    width: 100%;
    position: relative;
    height: 75px;
    line-height: 150px;
}

.optButtonTexto{
    font-size:14px;
    font-family:RobotoRegular;
    text-align:center;
    color: white;
    height: 75px;
}

.nombreAsignatura{
    z-index: 2;
    position:relative;
    top:0px;
    font-size:20px;
    font-family:RobotoRegular;
    text-align:center;
    color:#222933;
    border-bottom:rgba(0, 0, 0, 0.3) 1px solid;
}

.nombreAsignatura:hover{
    background-color: #222933;
    color: #FFFFFF;
}

@font-face {
    font-family: RobotoBold;
    src: url(./Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(./Roboto-Regular.ttf);
}

#menuContainer{
    width: 100%;
    margin: 0 auto;
}

.menuOpcion{
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: inline;
    min-width: 500px;
    /* padding-bottom: 10px; */
    margin-top: 15px;
    -webkit-box-shadow: 10px 0px 5px #888888;
    -moz-box-shadow: 10px 0px 5px #888888;
    box-shadow: 5px 5px 5px #888888;
    border: #AAAAAA solid 1px;
}

.imagenMenuOpcion{
    height: 30px;
    width: 30px;
    float: left;
    border: black solid 3px;
    border-right: none;
    padding-left: 5px;
    padding-right: 5px;
   // border-radius: 5px 0px 0px 5px;
   border-left: none;
   border-top: none;  
/*   -webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.9));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000')";*/
}

.Texto{
    /* margin: 10px; */
    width: calc(100% - 40px);
    height: 30px;
    font-family: RobotoRegular;
    color: #000000;
    background-color: transparent;
    border-bottom: black solid 3px;//
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    padding: 0px;
    border-left: none;
    border-top: none;
    border-right: none;
}

.Texto:focus{
    outline: 0;
}

.Texto:-webkit-autofill,
.Texto:-webkit-autofill:hover,
.Texto:-webkit-autofill:focus,
.Texto:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(250, 255, 189);
    border-bottom: #FFFFFF solid 3px;
}

.boton{
    text-align: center;
    width: 40%;
    height: 50px;
    background-color: #222933;
    border: none;
    font-family: RobotoRegular;
    font-size: 16px;
    color: #FFFFFF;
    margin: 15px;
    display: inline-block;
    line-height: 50px;
    background-image: url(../edit.png)
}

input:-webkit-autofill {
    color: #2a2a2a !important; 
}

.subirImagen{
    overflow: hidden;
    opacity: 0;
}

.botonImagen{
    background-image: url(../Images/upload.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    margin: 0 auto;
}

.botonImagen:active{
    background-image: url(../Images/uploadclick.png);
}

.circulo{
    border: white solid 5px;
    border-radius: 100%;
}

.styled-select select {
    margin: 10px;
    width: 80%;
    height: 40px;
    font-family: RobotoRegular;
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    font-size: 20px;
}

.styled-select select:focus{
    color: #222933;
    background-color: #FFFFFF;
}

.inputContainer{
    text-align: left;
    margin: 20px;
}

.imagenMenuOpcionFocused{
    background-color: white;
}

.butonIcon{
    background-size: cover; 
    width: 20px; 
    height: 20px; 
    float: left; 
    line-height: 20px;
    margin-top: 15px;
    margin-left: 3px;
}

.boton:active{
    background-color: #37474F;
}