.ListItemContainer{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    /*margin-top: 20px;*/
    line-height: 50px;
    font-family: RobotoRegular;
    font-size: 20px;
    text-align: left;
    color: #000000;
    text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    border: #AAAAAA solid 1px;
    overflow: hidden;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
    background-color: #FFFFFF;
}

.ListItem{
    height: 50px;
    cursor: pointer;
}

.ListItemClick{
    color: #FFFFFF;
    background-color: #78909C;
}

.item{
    width: 20%;
    height: inherit;
    float: left;
    overflow: hidden;
    margin-left: 15px;
    display: flex;
}

.ImagenItem{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #000000;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    margin: 5px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.optionItem{
    float:right;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-size: cover;
}

.columna{
    width: 100%;
    height: 250px;
    float: left;
    font-family: RobotoLight;
    text-shadow: none;
    padding-left: 20px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.negrita{
    font-family: RobotoRegular;
    display: inline;    
}

.BotonCheck{
    width: 50px;
    height: 30px;
    margin-top: 10px;
}

.BotonAdd{
    background-color: #37474F; 
    text-align: center;
}

.ImagenAdd{
    margin: 0 auto; 
    margin-top: 5px; 
    border: none; 
    box-shadow: none;
}

.registrarCurso{
    float: right; 
    display: flex;
    color: grey;
}

#BotonFiltro{
    margin-left: 50px;
}

.FormFiltro{
    text-align: left;
    font-family: RobotoRegular;
}

.semiItem{
    width: 50%;
}

.inputCuadrado{
    border: black solid 3px !important;
    width: 30px !important;
    text-align: center;
}