
.loginContainerForm {
    font-family: RobotoRegular; 
	padding-top: 25px;
	margin-right: 25%;
	margin-left: 25%;
	text-align: center;
	height: 120px;
	background-color: #FFF;
	box-shadow: 0px 0px 15px 0px grey;
}


.barraGris {
	padding-top: 10%;
	height: 150px;
	margin-top: 10%;
	margin-bottom: 20%;
	box-shadow: 0px 0px 15px 0px grey;
	background-color: #37474F;
}

.tituloLogin {
	color: #FFF;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 2%;	
}