.info, .warning, .error {
    font-family:RobotoBold; 
    font-size:13px;
    border: 1px solid;
    margin: 10px 0px;
    padding:8px 8px 8px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    display: flex;
    width: 100%;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(../Images/Info.png);
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(../Images/Attention.png);
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(../Images/Error.png);
}

.error_404{
    font-family:RobotoBold; 
    font-size: 38px;
    padding-top: 5%;
    width: 900px;
    text-align: center;
    height: 175px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #808080;
    border: 1px solid #808080;
}
